<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">YPP Technologies</span>
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-white" href="/contact">Contact</a>
            <!-- <a class="mr-5 hover:text-white">First Link</a>
            <a class="mr-5 hover:text-white">Second Link</a>
            <a class="mr-5 hover:text-white">Third Link</a>
            <a class="mr-5 hover:text-white">Fourth Link</a> -->
          </nav>
          <button href="/form" class="inline-flex items-left bg-gray-800 border-0 py-1 px-4 w-100 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Take  Survey
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-7 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
<!-- hero 3 -->
      <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 md:mb-0 mb-10">
            <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
          </div>
          <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Music Recommendation System
              <br class="hidden lg:inline-block">v1.0
            </h1>
            <p class="mb-8 leading-relaxed" >Experience the first Interactive Music Recommendation System for Music Therapy that works completely on the basis of real time feedback from the user. Fill the survey form before you begin. The data in the survey form will only be used for research and development purpose.
               </p>
            <div class="flex justify-center">
              <button class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg"> <a href="/form">Take Survey</a></button>
            
            </div>
          </div>
        </div>
      </section>



      <!-- details of content -->
      <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-0 mx-auto flex flex-col">
          <div >
           
            <div class="flex flex-col sm:flex-row mt-0">
              <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-800 text-gray-600">
                    <img src="https://yogeshpingle.co.in/images/pic.jpg"/>
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>

                <div class="flex flex-col items-center text-center justify-center">
                  <h2 class="font-medium title-font mt-4 text-white text-lg">Mr. Yogesh Pingle</h2>
                  <div class="w-12 h-1 bg-green-500 rounded mt-2 mb-4"></div>
                  <p class="text-base text-gray-400"></p>
                </div>
              </div>
              <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                <p class="leading-relaxed text-lg mb-4">Mr. Yogesh Pingle (currently pursuing Ph.D. from Terna College of Engineering, Mumbai, Mumbai University, B.E Computers, M.E. Computers) is working as a Deputy HOD and Assistant Professor in Computer Science Engineering – Data Science Department of Vidyavardhini’s College of Engineering & Technology, Vasai, Maharashtra. He is also a proprietor of YPP Technologies firm. He did his B.E.in Computer Engineering from V.J.T.I., Mumbai University and did his M.E. in Computer Engineering from TSEC, Mumbai University. He has more than 18 years of teaching experience and 2+ years of industry experience as a Software Programmer. He has published 20 research papers in IEEE and international conferences/journals. Out of which, 9 papers are in Scopus and 6 are in Web of Science. His interests include IoT (Internet of Things), Machine Learning, Web Computing, Music Therapy.</p>
                <a class="text-green-400 inline-flex items-center" target="_blank" href=" https://yogeshpingle.co.in/">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 2 content 6 -->
      <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-2 mx-auto flex flex-col">
          <div >
           
            <div class="flex flex-col sm:flex-row mt-0">
              <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-800 text-gray-600">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <div class="flex flex-col items-center text-center justify-center">
                  <h2 class="font-medium title-font mt-4 text-white text-lg">YPP Technologies</h2>
                  <div class="w-12 h-1 bg-green-500 rounded mt-2 mb-4"></div>
                  <p class="text-base text-gray-400"></p>
                </div>
              </div>
              <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                <p class="leading-relaxed text-lg mb-4">YPP Technologies is a company based in Vasai Maharashtra which is registered as a Proprietor Company. The company is into Scientific and Technological Services & Research. Also it provides Design and Development of IoT Solutions</p>
               
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- contact page -->
      <section class="text-gray-400 bg-gray-900 body-font relative w-100 h-full">
        <div class="container px-5 py-10 mx-auto">
         
          <div class="lg:w-1/2 md:w-2/3 mx-auto">
           
              <div class="p-2 w-full pt-8 mt-8 border-t border-gray-800 text-center">
                <a class="text-green-400">yogeshpingle25@gmail.com | yogeshpingle1977@gmail.com</a>
                <p class="leading-normal my-5">B-203, Peony Green Court Complex, <br/>Behind Vasai Court,<br/>
                    Vasai Gaon,<br/> Vasai,<br/> Maharashtra - 401201
                  <br>
                </p>
                <span class="inline-flex">
                  <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                  </a>
                  <a class="ml-4 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                  </a>
                  <a class="ml-4 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                      <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                  </a>
                  <a class="ml-4 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                    </svg>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>